In [34]:
from bs4 import BeautifulSoup
import requests

In [37]:
for i in range(1, 51):
    with open(f"Html_data/page{i}.html", "r", encoding="utf-8") as f:
        content = f.read()
        # You can now parse `content` using BeautifulSoup or process it further
        print(f"Page {i} loaded")

Page 1 loaded
Page 2 loaded
Page 3 loaded
Page 4 loaded
Page 5 loaded
Page 6 loaded
Page 7 loaded
Page 8 loaded
Page 9 loaded
Page 10 loaded
Page 11 loaded
Page 12 loaded
Page 13 loaded
Page 14 loaded
Page 15 loaded
Page 16 loaded
Page 17 loaded
Page 18 loaded
Page 19 loaded
Page 20 loaded
Page 21 loaded
Page 22 loaded
Page 23 loaded
Page 24 loaded
Page 25 loaded
Page 26 loaded
Page 27 loaded
Page 28 loaded
Page 29 loaded
Page 30 loaded
Page 31 loaded
Page 32 loaded
Page 33 loaded
Page 34 loaded
Page 35 loaded
Page 36 loaded
Page 37 loaded
Page 38 loaded
Page 39 loaded
Page 40 loaded
Page 41 loaded
Page 42 loaded
Page 43 loaded
Page 44 loaded
Page 45 loaded
Page 46 loaded
Page 47 loaded
Page 48 loaded
Page 49 loaded
Page 50 loaded

In [38]:
soup=BeautifulSoup(content,"html.parser")

In [39]:
h3s=soup.find_all("h3")

In [40]:
articals=soup.select("article.product_pod")

In [41]:
items=[]
for artical in articals:
   title=artical.find("h3").find("a")["title"]
   # print(title)
   price=artical.select_one("p.price_color").text.split("Â£")[1]
   # print(price)
   items.append([title,price])

In [42]:
 items

[['Frankenstein', '38.00'],
 ['Forever Rockers (The Rocker #12)', '28.80'],
 ['Fighting Fate (Fighting #6)', '39.24'],
 ['Emma', '32.93'],
 ['Eat, Pray, Love', '51.32'],
 ['Deep Under (Walker Security #1)', '47.09'],
 ["Choosing Our Religion: The Spiritual Lives of America's Nones", '28.42'],
 ['Charlie and the Chocolate Factory (Charlie Bucket #1)', '22.85'],
 ["Charity's Cross (Charles Towne Belles #4)", '41.24'],
 ['Bright Lines', '39.07'],
 ["Bridget Jones's Diary (Bridget Jones #1)", '29.82'],
 ['Bounty (Colorado Mountain #7)', '37.26'],
 ['Blood Defense (Samantha Brinkman #1)', '20.30'],
 ['Bleach, Vol. 1: Strawberry and the Soul Reapers (Bleach #1)', '34.65'],
 ['Beyond Good and Evil', '43.38'],
 ["Alice in Wonderland (Alice's Adventures in Wonderland #1)", '55.53'],
 ['Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)', '57.06'],
 ["A Spy's Devotion (The Regency Spies of London #1)", '16.97'],
 ["1st to Die (Women's Murder Club #1)", '53.98'],
 ['1,000 Places to See Before You Die', '26.08']]

In [43]:
import pandas as pd

In [44]:
df=pd.DataFrame(items)

In [45]:
df

                                                    0      1
0                                        Frankenstein  38.00
1                    Forever Rockers (The Rocker #12)  28.80
2                         Fighting Fate (Fighting #6)  39.24
3                                                Emma  32.93
4                                     Eat, Pray, Love  51.32
5                     Deep Under (Walker Security #1)  47.09
6   Choosing Our Religion: The Spiritual Lives of ...  28.42
7   Charlie and the Chocolate Factory (Charlie Buc...  22.85
8           Charity's Cross (Charles Towne Belles #4)  41.24
9                                        Bright Lines  39.07
10           Bridget Jones's Diary (Bridget Jones #1)  29.82
11                      Bounty (Colorado Mountain #7)  37.26
12               Blood Defense (Samantha Brinkman #1)  20.30
13  Bleach, Vol. 1: Strawberry and the Soul Reaper...  34.65
14                               Beyond Good and Evil  43.38
15  Alice in Wonderland (Alice's Adventures in Won...  55.53
16   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06
17  A Spy's Devotion (The Regency Spies of London #1)  16.97
18                1st to Die (Women's Murder Club #1)  53.98
19                 1,000 Places to See Before You Die  26.08

In [74]:
from bs4 import BeautifulSoup

items = []

for i in range(1, 51):
    with open(f"Html_data/page{i}.html", "r", encoding="utf-8") as f:
        content = f.read()
        # print(f"Page {i} loaded")

        soup = BeautifulSoup(content, "html.parser")
        articles = soup.select("article.product_pod")

        for article in articles:
            title = article.find("h3").find("a")["title"]
            price = article.select_one("p.price_color").text.split("Â£")[1]
            rating=article.select_one("p.star-rating")
            classes=rating["class"][1]
            items.append([title, price,classes])

# Optional: print all extracted items
# for item in items:
#     print(f"Title: {item[0]}, Price: Â£{item[1]}")

In [75]:
data=pd.DataFrame(items, columns=["Bookname","Price","Rating"])

In [76]:
data

                                              Bookname  Price Rating
0                                 A Light in the Attic  51.77  Three
1                                   Tipping the Velvet  53.74    One
2                                           Soumission  50.10    One
3                                        Sharp Objects  47.82   Four
4                Sapiens: A Brief History of Humankind  54.23   Five
..                                                 ...    ...    ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53    One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06   Four
997  A Spy's Devotion (The Regency Spies of London #1)  16.97   Five
998                1st to Die (Women's Murder Club #1)  53.98    One
999                 1,000 Places to See Before You Die  26.08   Five

[1000 rows x 3 columns]

In [78]:
data.to_csv("data.csv",index=False)