type of data structure
Series: 1d array with lable
DataFrame: 2d array with rows and columnmm

In [14]:
import pandas as pd

In [15]:
# to create series
pd=pd.Series([1,2,3,4,5,6,7,8])  #here we create series

In [16]:
pd

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [25]:
type(pd) # to check type

pandas.core.series.Series

In [34]:
import pandas as pd
pd = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], 
                      index=['ram', 'hari', 'sita', 'gita', 'rita', 'nita', 'babita', 'arpita']) #here we add index

In [35]:
pd

ram       1
hari      2
sita      3
gita      4
rita      5
nita      6
babita    7
arpita    8
dtype: int64

In [38]:
pd["ram"] # we can access the data like this too

1

In [39]:
pd["gita"]

4

Data  Frame

In [45]:
data = {
    'name': ['ram', 'hari', 'sita'],
    'age': [1, 2, 3],
    'location': ['Thimi', 'Bhaktapur', 'koteshawor']
}

In [53]:
import pandas as pd
pd=pd.DataFrame(data) #here we add data and create dataframe so that the data will be easy to read

In [54]:
pd

   name  age    location
0   ram    1       Thimi
1  hari    2   Bhaktapur
2  sita    3  koteshawor

In [55]:
type(pd)

pandas.core.frame.DataFrame

In [58]:
pd["location"]

0         Thimi
1     Bhaktapur
2    koteshawor
Name: location, dtype: object

In [60]:
pd["age"]

0    1
1    2
2    3
Name: age, dtype: int64

In [68]:
pd.index # to check index

RangeIndex(start=0, stop=3, step=1)

In [69]:
pd.columns # to check columns

Index(['name', 'age', 'location'], dtype='object')